---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import '@/styles/globals.css'
import { Button } from "@/components/ui/button"

title: 'Custom Page'
description: 'Custom page with shadcn component'
---
# coderabbit.ai trigger

<StarlightPage 
  frontmatter={{
    title: 'Rasmus Broegger Joergensen',
    description: 'Personal website of Rasmus Broegger Joergensen',
    template: 'splash',
    hero: {
      title: 'Rasmus Broegger Joergensen',
      tagline: 'DevOps Engineer with a passion for automation and cloud technologies',
      image: {
        file: {
          src: '../src/assets/rasmus.png',
          width: 40,
          height: 40,
          format: 'png',
        }
      },
      actions: [
        {
          text: 'Projects',
          link: '/projects/work-in-progress/',
          variant: 'primary',
          icon: 'right-arrow'
        },
        {
          text: 'Linux',
          link: '/linux/basic/',
          variant: 'primary',
          icon: 'right-arrow'
        },
        {
          text: 'View site on GitHub',
          link: 'https://github.com/RelativeSure/personal-starlight-site',
          icon: 'external',
          variant: 'minimal',
          attrs: {
            rel: 'me'
          }
        },
        {
          text: 'Contact #WIP',
          link: '/contact',
          variant: 'minimal',
        },
      ],
    },
  }}
>
  <p>This is a custom page with a custom component:</p>
  <Button>Hello World</Button>
</StarlightPage>
